html{
    font-weight: bold;
    
}

.active_class{
    color: orangered;
    border-bottom: 2px solid red;

}

.pos{
    z-index: 1;
}

.not-found{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    background-color:white;
    z-index: 4;
    display: grid;
    place-items: center;
}

.inner{
    width: 100%;
    display: grid;
    place-items: center;
    padding: 15px 10px;
}

.text-error{
    text-shadow: 3px 3px 3px lightgray;
    
}